@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: #fffdf1;
}
/*page*/
h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #57352d;
}

/*banner*/
/* .banner {
  background-color: #e1d9c6;
} */

.heading-title {
  font-family: var(--font-lilita-one);
  font-weight: bold;
  font-size: 40px;
  line-height: 35px;
  /* color: var(--color-heading-text); */
  padding-bottom: 20px;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide-transform {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide-transform > div {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 25px;
}

/* banner_bottom */
.banner_bottom {
  padding-top: 30px;
}

.banner-container {
  display: flex;
}

.banner-content {
  padding-left: 30px;
  padding-top: 130px;
  color: #57352d;
  text-align: center;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.banner_button > button {
  background-color: orange;
}

.banner_button_content {
  font-size: large;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* cart */
.your_bag_title {
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.product-name {
  flex: 1;
}

.product-price {
  min-width: 100px;
  text-align: right;
}

/* .main_title {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
} */
.shopping_bag > h3 {
  margin: 0;
  font-weight: bold;
  color: #57352d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.shopping_bag {
  text-align: center;
}
.main_cart {
  display: flex;
  /* flex-direction: row; */
  padding-top: 30px;
  color: #57352d;
}
.product_cart {
  flex: 2;
  padding-right: 200px;
}
.order_summary {
  flex: 1;
  color: #57352d;
}
.order_summary_title {
  font-weight: bold;
  font-size: medium;
}
.order {
  display: flex;
  justify-content: space-between;
}
.button_cart > button {
  color: #05090e;
}

/* about */
.about {
  display: flex;
}
.about_content {
  padding: 40px 10px 40px 20px;
}
.about_text {
  padding-bottom: 20px;
}

/* Product_detail */
.product_detail {
}

/* designed_page */
.main_designed_cake {
  display: flex;
  color: #57352d;
  background-color: #fffdf1;
}

.title_designed_cake_left {
  font-size: large;
  color: #57352d;
}
.selected_items {
  flex: 1.5;
}

.detail_designed_cake {
  padding-left: 50px;
  flex: 1;
  color: #57352d;
}
.title_designed_cake {
  font-size: xx-large;
  font-weight: bolder;
}
.information_designed_cake {
  padding-top: 50px;
  padding-right: 50px;
}
.body_designed_cake {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.decoration_container {
  padding-top: 70px;
}
.container_image_designed_cake {
  flex-wrap: nowrap;
}
.name_designed_cake {
  font-weight: 1000;
}
.image_footer_designed_cake {
  padding-top: 70px;
}

/* policy page */
.policy {
  padding-bottom: 20px;
}
.title_policy {
  padding-top: 20px;
}

/* === CODFE HEADING STYLE #2 === */
.cf-title-02 h1 {
  text-transform: capitalize;
}

.cf-title-02 h1 span {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  /* padding-bottom: 10px; */
}
.cf-title-alt-two h1 {
  color: #57352d;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
}

.line {
  padding-bottom: 20px;
}
